* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: aqua;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.todocontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    padding: 24px;
}


.todoheader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}
.todoheading {
    margin-right: 8px;
}
.todoicon {
    font-size: 1em;
}


.todobody {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.tododate {
    border: none;
    background: #edeef0;
    margin-bottom: 8px;
    border-radius: 8px;
}
.datepicker {
    border: none;
    outline: none;
    background: transparent;  
    padding: 8px
}

.todoinputcontainer {
    background: #edeef0;
    border: none;
    border-radius: 50px;
    padding-left: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.todoinput {
    background: transparent;
    border: none;
    outline: none;
    font-size: medium;
}
.todoaddicondiv {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 40px;
    padding: 8px;
    background: limegreen;
}
.todoaddicon{
    font-size: 4vh;
}


.todoalert {
    font-size: small;
    margin-bottom: 8px;
}


.todolist ul {
    list-style: none outside;
    font-size: medium;
}
.todolist ul li {
    display: flex;
    justify-content: space-between;
    background-color: #edeef0;
    width: 240px;
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 8px;
}
.todolistcontent {
    display: flex;
    align-items: center;
    max-width: 75%;
}
.todolisttext {
    max-width: inherit;
    user-select: none;
    cursor: pointer;
}
.todocheckicon {
    color: green;
    margin-right: 8px;
}
.todoedit, .tododelete {
    cursor: pointer;
    margin: 0px 4px;
}
